<section class="section section--statement section--vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="h1 d-block">We want a world without <br class="d-none d-md-inline"> stupid digital solutions.</span>
                <p>
                    We fight against user's frustration and give birth to great experiences, <br class="d-none d-sm-inline">
                    so you can focus on doing what you do the best.
                </p>
            </div>
        </div>
    </div>
    <div class="container section__container--bottom-right d-flex justify-content-end">
        <a href="#" class="btn-scroll-down">
            <i class="icon icon-lg fas fa-arrow-down"></i>
        </a>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="h1 mb-5">This is us</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 offset-md-2 order-2 order-md-1">
                <h3 class="h2 mb-3 mt-4 mt-md-0">David</h3>
                <span class="subtitle mb-4 d-block">Backend developer</span>
                <p>
                    At Unchained I take care of the workflow and frontend development. Efficiency and code coverage is key
                    for fast and reliable development, that’s where automation and testing comes into play – and I think
                    we do that pretty well.
                </p>
            </div>
            <div class="col-md-4 order-1 order-md-2">
                <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid"') %>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 offset-md-2">
                <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid"') %>
            </div>
            <div class="col-md-4">
                <h3 class="h2 mb-3 mt-4 mt-md-0">Filip</h3>
                <span class="subtitle mb-4 d-block">Frontend developer</span>
                <p>
                    At Unchained I take care of the workflow and frontend development. Efficiency and code coverage is key
                    for fast and reliable development, that’s where automation and testing comes into play – and I think
                    we do that pretty well.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-2 order-2 order-md-1">
                <h3 class="h2 mb-3 mt-4 mt-md-0">Arnošt</h3>
                <span class="subtitle mb-4 d-block">Frontend developer</span>
                <p>
                    At Unchained I take care of the workflow and frontend development. Efficiency and code coverage is key
                    for fast and reliable development, that’s where automation and testing comes into play – and I think
                    we do that pretty well.
                </p>
            </div>
            <div class="col-md-4 order-1 order-md-2">
                <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid"') %>
            </div>
        </div>
    </div>
</section>
<section class="section section--dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h1">
                    See how we’ll <br> become friends.
                </h2>
                <a href="/what-we-do" class="btn btn-outline-secondary">What we do</a>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="h1 mb-5">Our mindset</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>
                    We make cool ideas happen. We don't design, but if you have any web-related projects you need coded,
                    we're up for the challenge. We stay on top of emerging technologies and use those to your advantage.
                </p>
                <p>
                    We love when the relationship between us just clicks and lasts longer than the project itself.
                </p>
                <p class="mb-5">
                    We don't like to be left hanging either, that's why we constantly chat back and forth with you about
                    what's going on. We'll always be happy to grab a drink with you.
                </p>
            </div>
        </div>
        <div class="row shifted-gallery">
            <div class="col-sm-6 col-md-4 offset-md-2">
                <div class="image-wrapper">
                    <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid mb-5"') %>
                    <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid mb-5"') %>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="image-wrapper image-wrapper--shifted">
                    <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid mb-5"') %>
                    <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid"') %>
                </div>
            </div>
        </div>
    </div>
</section>
<% include components/lets-talk %>
